@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'), /* Primary choice for modern browsers */
         url('./fonts/montserrat-regular-webfont.woff') format('woff'); /* Fallback for older browsers */
    font-weight: normal; /* 400 is the same as 'normal' */
    font-style: normal; /* 'normal' is default, specify 'italic' if using an italic font */
}
